<p>
Thank you for joining IonicThemes!
</p>
<p>
Please click the following URL to activate your account:
<%= verifyHref %>
</p>
<p>
If clicking the URL above does not work, copy and paste the URL into a browser window.
</p>

Thank you,
<br>
<br>
IonicThemes Support
<br>
